<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="history" name="history" id="history">
            <h1>Acerca de Nosotros</h1>
            <b>Creador: Jose Alejandro Barrios Rodas</b><br>
            <b>Institucion: Centro Universitario de Occidente</b>
        </div>
    </body>
</html>